//! Fuentes
$fuente_principal: 'Epilogue', sans-serif;
$size_principal: 18px;

//! Tamaño de Media Queries
$telefono: 375px;
$desktop: 1440px;

//! Neutral
$White: hsl(0, 0%, 98%);
$Gray: hsl(0, 0%, 41%);
$Black: hsl(0, 0%, 8%);


//! Colores-Primarios


//! Fuentes
// $regular : 400;
$normal: 500;
$bold: 700;
// $black: 800;